<br><br><br><br>
<mat-card class="example-card">

  <mat-card-title>
    <h3>Sign in</h3>
  </mat-card-title>

  <!-- emailid and password for login to app 
  validation to email and hide function provide to password-->
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email-id:" [formControl]="email" required [(ngModel)]="loginForm.email">
        <mat-error *ngIf="email.invalid">enter valid email id</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password:" [type]="hide ? 'password' : 'text'" [formControl]="password" required
          [(ngModel)]="loginForm.password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="email.invalid">enter your password</mat-error>
      </mat-form-field>

      <!-- if user forgot password  -->
      <p align="right"><a routerLink="/forgotpassword">Forgot password?</a></p><br>
      <p class="msg_success">{{msg}}</p>
      <button mat-button type="submit" (click)="login()" [disabled]="!(loginForm.email && loginForm.password)">SIGN IN</button>
    </form>
    <h5>or Sign in with</h5>

      <button mat-button (click)="socialSignIn('facebook')">
        Sign in with Facebook125
        </button>
      &nbsp; &nbsp; &nbsp;
      <button mat-button (click)="socialSignIn('google')">
        Sign in with google
        </button>

    <!-- sign up for new registration to app -->
    <p align="right"> <a routerLink="/register">Sign Up?</a></p>
    <br>
  </mat-card-content>
</mat-card>