<div>
  <b>Collaborators</b>
</div>
<mat-divider></mat-divider>

<!-- shows Owner email id -->
<div style="padding-top:10px">
  <button mat-mini-fab>
    <mat-icon>person_pin
    </mat-icon>
  </button>
  {{emailid}}(Owner)
</div>

<!-- all sharemail related with Owner email id -->
<div style="padding-top:10px" *ngFor="let item of test">
  <div *ngIf="item.sharemail!='undefined'">
    <button mat-mini-fab>
      <mat-icon>person_pin
      </mat-icon>
    </button> {{item.sharemail}}
    <mat-icon style="padding-right:30px;" matTooltip="delete" (click)="deletecollaborator(item.noteid,item.sharemail)">clear</mat-icon>
  </div>
</div>

<!-- add new email to share note -->
<div style="padding-top:10px">
  <button mat-mini-fab disabled>
    <mat-icon style="color:white">
      <img src="assets/personadd.svg"></mat-icon>
  </button>
  <mat-form-field appearance="null">
    <mat-label></mat-label>
    <input matInput placeholder="Person or email to share" [(ngModel)]="sharemail">
  </mat-form-field>
</div>

<div style="padding-top:20px;">
  <mat-divider></mat-divider>
</div>

<!-- cancel click to return fundoo
save click to add new email in collaborator -->
<div>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="addcollaborator()">Save</button>
</div>