<!-- toolbar of app with all functionality
like sidenav,logout etc. -->
<mat-toolbar style="background-color:#fb0" fixedInViewport="true">
  <mat-toolbar-row>
    <button mat-icon-button matTooltip="main menu" (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
    <span class="example-spacer2"></span>
    <span>Fundoo Note App</span>
    <span class="example-spacer"></span>
    <i class="material-icons">search</i>
    <div class="input-search">
        <input class="input-search" type="text"
        [(ngModel)]="searchItem"
        (keyup)="search(searchItem, $event)"
      /></div>
    <span class="example-spacer"></span>
    <span class="example-spacer2"></span>

    <!-- button to display cards in list view or grid view -->
    <button mat-icon-button matTooltip="list" *ngIf="listIcon" (click)="listview()">
      <i class="material-icons">view_list</i></button>

    <button mat-icon-button matTooltip="grid" *ngIf="gridIcon" (click)="gridview()">
      <i class="material-icons">view_module</i></button>

    <!-- shows account info with signout and profile pic
    shows current user email id  -->
    <span class="example-spacer"></span>
    <div *ngFor="let item of testT">
      <div *ngIf="item.profilepic!=NULL; else showicon">
        <button mat-icon-button matTooltip="account {{email}}" [matMenuTriggerFor]="account">
          <img class="account-img1" src="/assets/profile/{{item.profilepic}}"></button>
      </div>
    </div>

    <!-- used to display default profile pic -->
    <ng-template #showicon>
      <button mat-icon-button matTooltip="account {{email}}" [matMenuTriggerFor]="account"><img src="/assets/accountcircle.svg"></button>
    </ng-template>

  </mat-toolbar-row>
  <mat-menu #account="matMenu">

    <div *ngFor="let item of testT">
      <div *ngIf="item.profilepic!=NULL; else showicon1">
        <button (click)="fileInput.click()" mat-icon-button style="margin-left:80px">
          <img class="account-img" src="/assets/profile/{{item.profilepic}}">
        </button></div>
    </div>
    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>

    <ng-template #showicon1>
      <button mat-icon-button (click)="fileInput.click()" style="margin-left:80px">
        <img class="account-img" src="/assets/accountcircle.svg"></button>
    </ng-template>

    <button mat-menu-item>{{email}}</button>
    <button mat-raised-button color="primary" style="margin-left:40px">Google Account</button>
    <mat-divider></mat-divider>
    <button mat-button style="margin-right:10px">Add Account</button> <button mat-button (click)="logout()" routerLink="/login">Sign
      Out</button>
  </mat-menu>
</mat-toolbar>

<!-- sidenav bar with multiple tab notes, Remainder,
all labels with functionality,
archive,bin -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="side-nav-exp">
    <mat-nav-list><a mat-list-item routerLink="note">
        <img src="assets/lightbulb.svg">Notes</a>
      <a mat-list-item routerLink="reminder"><i class="material-icons">touch_app</i>Remainder</a>
      <mat-divider></mat-divider>
      <div class="label">Labels</div>

      <!-- shows all labels of perticular user -->
      <div *ngFor="let item of test">
        <mat-list-item>
          <mat-icon><img src="assets/label.svg"></mat-icon>{{item.label}}
        </mat-list-item>
      </div>
      <a mat-list-item (click)="openDialog()"><i class="material-icons">add</i>Create new label</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="archive"><i class="material-icons">archive</i>Archive</a>
      <a mat-list-item routerLink="bin"><i class="material-icons">delete</i>Bin</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- sidenav content shows selected tabs notes like notes,reminder etc. -->
  <mat-sidenav-content class="side-nav-exp1">

    <router-outlet></router-outlet>


  </mat-sidenav-content>

</mat-sidenav-container>