<!-- main card -->
<mat-card class="memory-card" *ngIf="mainCard" (click)="matMaincard()">
    <mat-card-content>
        <div>Take a note..</div>
    </mat-card-content>
</mat-card>

<!-- expanded card -->
<mat-card class="text-card" *ngIf="expandedCard">
    <mat-card-content>
        <div><input matInput placeholder="Title" required [(ngModel)]="model.title"></div>
        <div>
            <mat-form-field class="textfield-card" appearance="null">
                <input matInput maxlength="300" placeholder="Take a note.." required [(ngModel)]="model.note">
            </mat-form-field>
        </div>
        <div>{{now}}</div>
        <button mat-icon-button matTooltip="remind me" [matMenuTriggerFor]="menu"><i class="material-icons">touch_app</i>
        </button>
        <button mat-icon-button matTooltip="collaborator"><img src="assets/personadd.svg"></button>
        <button mat-icon-button matTooltip="change color" [matMenuTriggerFor]="menuColor"><img src="assets/color_base.svg"></button>
        <button mat-icon-button matTooltip="archive"><img src="assets/archive.svg"></button>
        <button mat-icon-button matTooltip="more" [matMenuTriggerFor]="menuMore"><img src="assets/baseline-more.svg"></button>
       
        <!-- after close note will save to database with seted all features 
        for perticular note like color,reminder etc.  -->
        <button class="button" mat-button (click)="takenote()">Close</button>
    </mat-card-content>
</mat-card>

<!-- menu to set reminder to note -->
<mat-menu #menu="matMenu">
    <div style="margin-left:15px">Remainder:</div>
    <button mat-menu-item>Later today</button>
    <button mat-menu-item>Tommarow</button>
    <button mat-menu-item>Next week</button>
    <button mat-menu-item [matMenuTriggerFor]="date"><i class="material-icons">access_time</i>
        Select date and time
    </button>
</mat-menu>

<mat-menu #date="matMenu">
    <div style="margin-left:15px"><i class="material-icons">keyboard_backspace</i>
        select date and time</div>
    <div>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.date">
        <mat-datepicker-toggle matSuffix [for]="picker" showTime="true"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <div>
        <input [ngxTimepicker]="picker1" [(ngModel)]="model.time">
        <ngx-material-timepicker #picker1></ngx-material-timepicker>
        <button mat-menu-item>save</button>
    </div>
</mat-menu>

<!-- menu to set color to note -->
<mat-menu #menuColor="matMenu" class="colorCard">
    <div class="colorDiv">
        <button mat-menu-item (click)="setcolor('rgb(250, 250, 250)')" class="colorPalette" style="background-color:rgb(250, 250, 250)">
        </button>
        <button mat-menu-item (click)="setcolor('rgb(255,240,245)')" class="colorPalette" style="background-color: rgb(255,240,245)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(230,230,250)')" class="colorPalette" style="background-color:rgb(230,230,250)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(255, 138, 128)')" class="colorPalette" style="background-color:rgb(255, 138, 128)">
        </button>
    </div>
    <div class="colorDiv">
        <button mat-menu-item (click)="setcolor(' rgb(204, 255, 144)')" class="colorPalette" style="background-color:rgb(204, 255, 144)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(167, 255, 235)')" class="colorPalette" style="background-color:rgb(167, 255, 235)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(128, 216, 255)')" class="colorPalette" style="background-color:rgb(128, 216, 255)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(130, 177, 255)')" class="colorPalette" style="background-color:rgb(130, 177, 255)">
        </button>
    </div>
    <div class="colorDiv">
        <button mat-menu-item (click)="setcolor(' rgb(179, 136, 255)')" class="colorPalette" style="background-color:rgb(179, 136, 255)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(248, 187, 208)')" class="colorPalette" style="background-color:rgb(248, 187, 208)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(215, 204, 200)')" class="colorPalette" style="background-color:rgb(215, 204, 200)">
        </button>
        <button mat-menu-item (click)="setcolor(' rgb(207, 216, 220)')" class="colorPalette" style="background-color:rgb(207, 216, 220)">
        </button>
    </div>
</mat-menu>

<!-- menu to add label to note -->
<mat-menu #menuMore="matMenu">
    <button mat-menu-item (click)="alllabel()">add label</button>
    <div *ngFor="let item of test1">
        <mat-list-item (click)="addlabel(item.label)">
            <mat-icon><img src="assets/label.svg"></mat-icon>{{item.label}}
        </mat-list-item>
    </div>
</mat-menu>


<!-- shows all notes of logged user with all features
with provide drag n drop facility to note -->
<div class="cards-div" *ngIf="!message" cdkDropList
(cdkDropListDropped)="drop($event)"
>
    <mat-card cdkDrag class="mat3" *ngFor="let item of test | notefilter:searchItem" [ngStyle]="{'background-color':item.color}">
        <mat-form-field appearance="null" (click)="openDialog(item)">
            <input matInput type="text" value="{{item.title}}" placeholder="title">
            <input matInput type="text" value="{{item.note}}" placeholder="note">
        </mat-form-field>

        <!-- shows if reminder is set -->
        <div *ngIf="item.remind_date!='undefined'">
            <mat-chip-list>
                <mat-chip>{{item.remind_date}}
                    <mat-icon matTooltip="delete reminder" (click)="deleteremider(item.id,item.remind_date)">clear</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>

        <!-- shows if label is set -->
        <div *ngIf="item.label!='undefined'">
            <mat-chip-list>
                <mat-chip>{{item.label}}
                    <mat-icon matTooltip="delete label" (click)="deletenotelabel(item.id,item.label)">clear</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>

        <!-- shows all collaborator of owner  -->
        <div *ngFor="let item1 of testT">
            <div *ngIf="item1.noteid==item.id">
                <button mat-mini-fab matTooltip matTooltip="{{item1.sharemail}}" (click)="opencollabDialog(item)">{{item1.sharemail
                    | slice:0:1}}</button>
            </div>
        </div>

        <div *ngIf="item.image != 'data:image/jpeg;base64,'">
            <img src={{item.image}} class="image-div" alt="">
        </div>
        
        <!-- all option like reminder,color,archive etc. -->
        <div>
            <button mat-icon-button matTooltip="remind me" [matMenuTriggerFor]="menu">
                <i class="material-icons">touch_app</i></button>
            <button class="menu-div" mat-icon-button matTooltip="collaborator" (click)="opencollabDialog(item)"><img src="assets/personadd.svg"></button>
            <button class="menu-div" mat-icon-button matTooltip="change color" [matMenuTriggerFor]="menuColor1"><img src="assets/color_base.svg"></button>
            <button class="menu-div" mat-icon-button matTooltip="archive" (click)="archive(item.id)"><img src="assets/archive.svg"></button>
            <button class="menu-div" mat-icon-button matTooltip="add image" (click)="fileInput.click()" (click)="imageadd(item.id)"><img src="assets/insertphoto.svg"></button>
            <button class="menu-div" mat-icon-button matTooltip="more" [matMenuTriggerFor]="menuMore1"><img src="assets/baseline-more.svg"></button>
       
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        </div>

        <!-- set color -->
        <mat-menu #menuColor1="matMenu" class="colorCard">
            <div class="colorDiv">
                <button mat-menu-item (click)="changecolor(item.id,'rgb(250,250,250)')" class="colorPalette" style="background-color:rgb(250, 250, 250)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(255,240,245)')" class="colorPalette" style="background-color: rgb(255,240,245)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(230,230,250)')" class="colorPalette" style="background-color:rgb(230,230,250)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(255, 138, 128)')" class="colorPalette" style="background-color:rgb(255, 138, 128)">
                </button>
            </div>
            <div class="colorDiv">
                <button mat-menu-item (click)="changecolor(item.id,'rgb(204, 255, 144)')" class="colorPalette" style="background-color:rgb(204, 255, 144)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(230,230,250)')" class="colorPalette" style="background-color:rgb(167, 255, 235)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(128, 216, 255)')" class="colorPalette" style="background-color:rgb(128, 216, 255)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(130, 177, 255)')" class="colorPalette" style="background-color:rgb(130, 177, 255)">
                </button>
            </div>
            <div class="colorDiv">
                <button mat-menu-item (click)="changecolor(item.id,'rgb(179, 136, 255)')" class="colorPalette" style="background-color:rgb(179, 136, 255)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(248, 187, 208)')" class="colorPalette" style="background-color:rgb(248, 187, 208)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(215, 204, 200)')" class="colorPalette" style="background-color:rgb(215, 204, 200)">
                </button>
                <button mat-menu-item (click)="changecolor(item.id,'rgb(207, 216, 220)')" class="colorPalette" style="background-color:rgb(207, 216, 220)">
                </button>
            </div>
        </mat-menu>

        <!-- set reminder -->
        <mat-menu #menu="matMenu">
            <div style="margin-left:15px">Remainder:</div>
            <button mat-menu-item>Later today</button>
            <button mat-menu-item>Tommarow</button>
            <button mat-menu-item>Next week</button>
            <button mat-menu-item [matMenuTriggerFor]="date"><i class="material-icons">access_time</i>
                Select date and time
            </button>
        </mat-menu>

        <mat-menu #date="matMenu">
            <div style="margin-left:15px"><i class="material-icons">keyboard_backspace</i>
                select date and time</div>
            <div>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="model.date">
                <mat-datepicker-toggle matSuffix [for]="picker" showTime="true"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div>
                <input [ngxTimepicker]="picker1" [(ngModel)]="model.time">
                <ngx-material-timepicker #picker1></ngx-material-timepicker>
                <button mat-menu-item (click)="changereminder(item.id,model.date,model.time)">save</button>
            </div>
        </mat-menu>

        <!-- set label to note -->
        <mat-menu #menuMore1="matMenu">
            <button mat-menu-item (click)="deletenote(item.id)">delete note</button>
            <button mat-menu-item (click)="alllabel()">add label</button>
            <div *ngFor="let itemI of testT">
                <mat-list-item (click)="addnotelabel(item.id,itemI.label)">
                    <mat-icon><img src="assets/label.svg"></mat-icon>{{itemI.label}}
                </mat-list-item>
            </div>
        </mat-menu>
    </mat-card>
</div>

<!-- used to shows notes in grid view  -->
<div class="cards-div-list" *ngIf="message">
    <mat-card class="mat3-list" *ngFor="let item of test" [ngStyle]="{'background-color':item.color}">
        <mat-form-field appearance="null" (click)="openDialog(item)">
            <input matInput type="text" value="{{item.title}}" placeholder="title">
            <input matInput type="text" value="{{item.note}}" placeholder="note">
        </mat-form-field>
        <div *ngIf="item.remind_date!='undefined'">
            <mat-chip-list>
                <mat-chip>{{item.remind_date}}</mat-chip>
            </mat-chip-list>
        </div>
        <div>
            <button mat-icon-button matTooltip="remind me">
                <i class="material-icons">touch_app</i></button>
            <button mat-icon-button matTooltip="change color" [matMenuTriggerFor]="menuColor"><img src="assets/color_base.svg"></button>
            <button mat-icon-button matTooltip="archive"><img src="assets/archive.svg"></button>
            <button mat-icon-button matTooltip="more" [matMenuTriggerFor]="menuMore1"><img src="assets/baseline-more.svg"></button>
        </div>
    </mat-card>
</div>