<br><br><br><br>
<mat-card class="example-card">
  
<mat-card-title>
<h3>Forgot Password</h3>
</mat-card-title>
<mat-card-content>
 <form class="example-form" [formGroup]="form" name="form">
        <div class="form-group">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Email-id:" [formControl]="email" required email [(ngModel)]="form.email">
        <mat-error *ngIf="email.invalid">enter valid email id</mat-error>
        </mat-form-field></div><br>



<button mat-button type="submit" (click)="forgot()" class="btn btn-primary" [disabled]="!(form.email && email.valid)">Submit</button>
</form>
</mat-card-content>
<p class="msg_success">{{msg}}</p> 
</mat-card>

